<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body{background: orange; font-family: verdana; color: black; padding: 30px}
    h1{font-size: 28px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 56px; text-align: center;}
  </style>
</head>
<body>
  <% include partials/nav-6.ejs %>

  <h1>Thankss</h1>
  <p>you contacted <%= data.who %> in the <%= data.department %> department.</p>
  <p>we will reply at <%= data.email %></p>


</body>
</html>
