<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body{background: green; font-family: verdana; color: orange; padding: 30px}
    h1{font-size: 28px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 56px; text-align: center;}
  </style>
</head>
<body>
  <% include partials/nav-6.ejs %>

  <h1>salaaaaams</h1>
  <p>hiiiiiiiiiii</p>
</body>
</html>
