<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body{background: green; font-family: verdana; color: orange; padding: 30px}
    h1{font-size: 28px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 56px; text-align: center;}
  </style>
</head>
<body>
  <% include partials/nav-6.ejs %>

  <h1>salaaaaams</h1>
  <p>hiiiiiiiiiii <%= queryString.dept  %></p>

  <form id="contact-from">
    <label for="who">Who do you wana contact?</label>
    <input type="text" name="who" value="<%= queryString.person %>">
    <label for="department">Which dept?</label>
    <input type="text" name="department" value="<%= queryString.dept %>">
    <label for="email">your email?</label>
    <input type="email" name="email">
    <input type="submit" value="submit">
  </form>
</body>
</html>
